.navbar {
  border-radius: 0px;
  background-color: #010101;
}

#head-container {
  border-bottom: 1px solid grey;
  padding-bottom: 15px;
}
.head-brand {
  padding-left: 4.5%;
}
.art-header {
  width: 90%;
  margin: auto;
}

.form-control {
  background-color: #010101;
  border: none;
  color: #EEEEEE;
  text-align: right;
  border-bottom: 1px solid grey;
  border-radius: 0px;
}
.form-control:focus {
  box-shadow: none;
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid grey;
}
.form-group {
  padding-right: 0px;
  display: block;
  float: left;

}
.search-form {
  color: #EEEEEE;
  padding-top: 10px;
}
.login-text {
  padding-top: 8px;
  padding-left: 0px;
  display: block;
  float: left;

}

#top-container {
  width: 100%;
  margin: auto;
}
.small_container {
  position: absolute; 
  top: 85%;
  width: 100%;
  background-color: #010101;
  height: 15%;
  opacity: .5;
}
.even-smaller {
  width: 90%;
  margin: auto;
  color: #EEEEEE;
  opacity: 1;
  font-size: 25px;
  letter-spacing: 2px;
}
.image-holder {
  position: relative; 
}
.image {
  width: 100%;
  height: 550px;
}

.image-small {}

body {
  background-color: #010101;
  font-family: 'Open Sans', 'sans-serif';
}

h2 {
  color: #EEEEEE;
  font-weight: 100 !important;
  padding-top: 10px;
}


.circle-row {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
.circle {
  display: inline-block;
  margin-top: 10px;

}
.circleBase {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
}

.type1 {
    width: 16px;
    height: 16px;
    border: 2px solid white;
    display:table;
}
.type2 {
  width: 2px;
  height: 2px;
  overflow: auto;
  background: white;
  border: 3px solid black;
  display:table-cell; vertical-align:middle;
    
}

.viewer {
  letter-spacing: 10px;
}





#bottom-container {
  width: 90%;
  margin: auto;
  color: #EEEEEE;
  text-align: center;
  border-top: 1px solid grey;
}

.left-align {
  text-align: left;
}




.view-exhibition {
  text-decoration: underline;
  font-style: italic;
  color: #EEEEEE;

}
.author {
  text-decoration: underline;
}
.image-small {
  margin-top: 10px;
  margin-bottom: 20px;
}

.container-title {
  letter-spacing: 1px;
}

.bottom-description {
  font-size: 11px;
  width: 75%;
}

.row-one {
  margin-bottom: 25px;
}

.active {
  width: 16.66%;
  padding-top: 20px;
  font-size: 18px;
  
}

.extra {
  text-decoration: underline;
  text-align: center;
  padding-right: 5%;
}
.middle {
  text-align: center;
  padding-right: 2.5%;
}
.left {
  text-align: center;
}

.navbar-nav {
  width: 100%;
}
.navbar-collapse {
  padding: 0px;

}
a {
  padding: 0px !important;
}

.dropdown-menu {
  margin-top: 20px !important;
  min-width: 400%;
  border-radius: 0px;
  opacity: .9;
  color: #333333;
}
.dropdown-style {
  text-align: left;
  margin: 15px;
}

.picture-row {

}
.featured {
  padding-left: 13px;
}

.zwirner {
  padding-top: 10%;
  font-weight: bold;
  font-size: 14px;
}
.small-city {
  font-size: 11px;
}

.gallaries-link {
  color: #333333;
  text-decoration: underline;
  font-style: italic;
}

.bottom-sec {
  border-top: 1px solid grey;
  margin-top: 15px;
  margin-bottom: 15px;
  letter-spacing: 2px;
}

.opening-soon-text {
  text-align: left;
  padding-top: 10px;
}
.new-artist-text {
  text-align: left;
  padding-top: 25px;
}

.the-bottom {
  margin-bottom: 20px;
  font-size: 10px;
  margin-top: 10px;
}

.smaller-image-text {
  font-size: 14px;
}

.smaller-image-text-upper {
  padding-top: 5px;
}
